body{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
;
}

.logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    padding: 20px;
    text-decoration: none;
    color: black;
}
span{
    color: #4bcaff;
}



.nav-top {
    margin-bottom:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    color: #FFF;
    height: 72px;
}


.nav-top li {
    border-right: 1px solid white;
    height: 72px;
    list-style: none;
}
.nav-top li:first-child{
    border-left: 1px solid white;
}

.nav-top a {
    display: block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    padding: 20px
}
.nav-top li:hover {
    color: #FFFFFF;
    background: #222F3A;
}

.nav-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    height:397px;
    width: 342px;
    border: 1px solid black;
    margin-right: 53px;
}
.nav-left li{
    list-style: none;
    max-width: 344px;
    height: 81px;
    padding-top: 20px;
    padding-left: 30px;
}

.nav-left a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}
.nav-left li:hover{
    background-color: #DBDBDB;
    padding-left: 60px;
    color: black;
}
.nav-left li:hover a {
    color: inherit;
}


.bot-nav{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    color: #FFF;
    height: 72px;
    bottom: 0;
}


.flex-container{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
}
.imgbox{
    height: 529px;
    width: 885px;
    border: solid 1px #000;
    size: 40%;
}

.imgbox img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    display: block;
}

.zoom{
    transition: transform 2s;
    margin: 0 auto;
}
.imgbox img:hover{
    transform: scale(1.35);
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 30px 0 30px;
}

.bot-nav{
    display: flex;
    gap: 30px;
    justify-content: left;
    width: 1280px;
    background-color: #63696E;
}

.bot-nav li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    padding-left: 10px;
}
.bot-nav a{
    color: #0C1927;
    text-decoration: none;
}
.copyright{
    margin-left: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.bot-nav li:hover a{
    color: #3181A6;
    text-decoration: underline;
}




